.family-image{
    padding-bottom: 200px;
    width: 100%;
    background-image: url(../../public//backgroundimg.svg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.mobile-view{
  display: none;
}
.body{
    padding-top: 7%;
    margin: 0% 2.5% 0% 2.5% ;

}
.welcome p{
  font-family: var(--font-work);
  font-weight: 500;
}
.welcome{
    
    max-width: fit-content;
    border-bottom: 1px solid  #00A9FF;
    border-top: 1px solid  #00A9FF;
    color: var(--Primary, #00A9FF);

}
.heading h1{
  font-family: var(--font-roboto);
}
.heading{
   color: #333333;
   font-size: 32px;
   font-weight: 700;
   
   line-height: 74.94px;
   max-width: 41rem;
   padding-top:40px ;
   
}
.content{
    font-family: var(--font-work);
    padding-top:40px;
    font-weight: 300;
    font-size: 15px;
    line-height:18px;
    max-width: 25rem;
    color: #777777;
    
    display: grid;
    row-gap: 10px;

}
.arrow img{
  width: 35px;
  height: 40px;
  border: 2px;

}

.getintouch{
   padding-top: 40px;
   display:grid;
   grid-auto-flow: column;
   grid-template-columns: 1fr 13fr;
   align-items: center;
}

.hero{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    padding: 50px 0;
    align-items: center;
}
.hero-content{
    
  display: grid;
  grid-auto-flow: row;
  padding: 70px 0px 0 0; 
  row-gap: 10px;
  max-width: 44rem;
} 
.hero-para{
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
}
.hero-msg{
    
    max-width: fit-content;
    border-bottom: 1px solid  #00A9FF;
    border-top: 1px solid  #00A9FF;
    color: var(--Primary, #00A9FF);
   
}


.hero-para-one{
  color: #333333;
  font-size: 40px;
  font-weight: 700;
  font-family: var(--font-roboto);
}
.hero-para-two{
  color: #777777;
  font-size: 15px;
  font-weight: 300;
  font-family: var(--font-roboto);
}
.hero-para-three{
  color: #777777;
  font-size: 15px;
  font-weight: 300;
  font-family: var(--font-roboto);
}
.hero-para-four{
  color: #777777;
  font-size: 15px;
  font-weight: 300;
  font-family: var(--font-roboto);
}


.chart{
  display: grid;
  justify-items: center;
  position: relative;
  padding: 0 0 100px 0;
}

.chart-border{
    
border: 1px solid rgb(0, 165, 225);
height: 80px;
width: 880px;
border-bottom: none;
border-radius: 5px;

}

.boxes{

  display: grid;
  grid-auto-flow: column;
  max-width: 100%;
  gap: 32px;
  align-items: end;
  
 
}
.box-one{
   border: 1px solid rgb(17, 118, 157);
   
  border-radius: 10px;
  width: 400px;
  height: 586px;
  display: grid;
  row-gap: 5px;
  padding: 30px;
  
}
.box-two{
    border: 1px solid rgb(17, 118, 157);

  border-radius: 10px;
  width: 400px;
  height: 496px;
  display: grid;
  row-gap: 5px;
  padding: 30px;
  
}
.box-three{
    border: 1px solid rgb(17, 118, 157);

    border-radius: 10px;
    width: 400px;
    height: 586px;
    display: grid;
    row-gap: 5px;
    padding: 30px;
}

.heading-one {
    color: #777777;
    font-size: 14px;
    font-weight: 500;
    font-family: var(--font-work);
  }
  .heading-two {
    color: #333333;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font-roboto);
  }
  .p-one {
    color: #777777;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    font-family: var(--font-work);
  }
  .p-two {
    color: #777777;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    font-family: var(--font-work);
  }
  .p-three {
    color: #777777;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    font-family: var(--font-work);
  }
  .form-sec{
    
      display: grid;
      /* grid-auto-flow: column; */
      background-color: #ecfaff;
      align-items: center;
      grid-auto-flow: column;
      justify-content: space-between;
      /* grid-template-columns: 50% 50%; */
      padding: 80px;
  
  }
  .subform{
    display: grid;
  
    grid-auto-flow: column;
    justify-content: space-between;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
    gap: 5px;
  }
  .firstline{
    display: grid;
    row-gap: 10px;
  }
  .secondline{
    display: grid;
    row-gap: 10px;
  }
  .input-form-msg{
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    height: 80px;
  }
  .line{
    height: 20px;
    background-color: grey;
    width: 1px;
  }
  input {
    border: none;
    background: none;
    width: 100%;
    outline: none;
  }
  .firstline{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 25px;
  }
  .secondline{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 25px;
  }
  .form{
    display: grid;
    background: white;
    border-radius: 10px;
    padding: 40px;
    row-gap: 25px;
  }
  .form-gettouch{
    border: 1px solid #00a9ff;
    color: #00a9ff;
    padding: 10px;
    display: grid;
    align-items: center;
  }
  .form-gettouch  button{
    border: none;
    outline: none;
    background: none;
    color: #00a9ff;
    cursor: pointer;
  }
  textarea {
    border: none;
    outline: none;
    height: 60px;
    width: 100%;
  }
  .form-msg-para{
    color: #777777;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    max-width: 36rem;
  }
  .form-msg{
    display: grid;
    row-gap: 20px;
  }
  .form-sec{
    display: grid;
    row-gap: 30px;
  }
  .form-msg h1{
    font-size: 40px;
    font-weight: 700;
    max-width: 38rem;
    font-family: var(--font-roboto);
  }
  .form-msg p{
    font-family: var(--font-work);
  }
  .msg-blue{
    
    
      max-width: fit-content;
      border-bottom: 1px solid  #00A9FF;
      border-top: 1px solid  #00A9FF;
      color: var(--Primary, #00A9FF);
  }
  /* .question-content{
    display: grid;
  grid-auto-flow: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
  padding: 50px 50px 0 50px;
  } */
   .question-content{
    display: grid;
    grid-auto-flow: row;
    row-gap: 10px;
    padding: 50px 50px 0 50px;
    column-gap: 50px;
    justify-items: center;
    /* align-items: center;
    justify-content: space-between; */
   }
  .question-sec{
    display: grid;
    background-color:white;
    align-items: center;
    grid-auto-flow: column;
    justify-content: space-between;
    padding: 80px;
  }
  .accordion{
    margin: 6%;
  }
  .accordion-content {
    display: grid;
    row-gap: 16px;
  }
  .accordion-content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #777777;
  }
  .question-msg p{
    
    max-width: fit-content;
    border-bottom: 1px solid  #00A9FF;
    border-top: 1px solid  #00A9FF;
    color: var(--Primary, #00A9FF);
  }
  .question-para{
    display: grid;
  justify-items: center;
  gap: 24px;
  }
  .question-para p:nth-child(1) {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    font-family: var(--font-roboto);
  }
  .question-para p:nth-child(2) {
    font-family: var(--font-work);
    color: #777777;
    font-weight: 500;
    font-size: 14px;
    max-width: 30rem;
  }
  .manimg img{
    width: 300px;
  height: 400px;
  }

  /* mobile View */
  /* @media(min-width:320px) and (max-width:650px){
    .desktop-view{
     display: none;
    }
    family-image{
      height: 340px;
      width: 100%;
      max-width: 100%;
      background-image: url(../../public/familyimg.svg);
      background-size: cover;
      background-position-x: right;
      position: relative;
      overflow: hidden;
    }
  
    .first-sec{
      max-width: 100%;
    }

    .welcome p{
      font-size: 18px;
      letter-spacing: 1px;
    }
    .welcome{
      border-bottom: 1px solid #00A9FF;
      border-top: 1px solid #00A9FF;
      max-width:fit-content ;
    }
    .body{
      max-width: 100%;
      display: grid;
      grid-auto-flow: row;
      row-gap: 25px;
      padding-top: 100px;
    }
    .heading{

       line-height: 44px;
      color: #333333;
      font-size: 12px;
      max-width: 27rem;
      font-weight: 700;
    }
    .heading h1{
      color: #333333;
      line-height: 44px;
      max-width: 30rem;
      font-size: 15px;
      font-weight: 700;
      
      font-family: var(--font-roboto);
    }
    .getintouch{
       grid-template-columns: 0.9fr 12fr;
      align-items: center0;
      display: grid;
     
      font-size: 14px;
    }
    .content{
       display: grid;
      row-gap: 5px;
      font-family: var(--font-roboto);
      font-weight: 500;
      line-height: 20px;
     
      max-width: 30rem;
      color: #777777;
      font-size: 18px;
    }
    .arrow img{
      border: 1.5px;
      height: 40px;
      width: 55px;
    }
    .getintouch p{
       color: #00A9FF;
       width: 6rem;
       font-weight: 600;
       font-size: 14px;
    }


    .body-content{
      display: grid;
    }
    .hero{
      display: grid;
      grid-auto-flow: row;
    }
    .hero-content{
      display: grid;
      padding: 0px 30px;
      row-gap: 35px;
    }
    .hero-img{
      display: grid;
      justify-items: center;
    }

     
    .hero-para{
      display: grid;
      row-gap: 30px;
    }
    .hero-para p:nth-child(1){
      color:#777777 ;
      font-size: 18px;
      font-weight: 500;
      max-width: 35rem;
      line-height: 22px;
    }
    

  }

 */


 @media (min-width: 650px) and (max-width: 1024px) {

  .desktop-view{
    display: none;
  }
  .family-image{
    height: 100vh;
    max-width: 100%;
    background-image: url(../../public/backgroundimg.svg);
  
    background-position-x:right ;
    position: relative;
    overflow: hidden;
    background-size: cover;
  }
  .welcome{
    border-bottom: 1px solid #00a9ff;
    border-top: 1px solid #00a9ff;
    max-width: fit-content;
  }
  .body{
    max-width: 100%;
    display: grid;
    row-gap: 50px;
    justify-items: center;
    text-align: center;
    padding: 50px 0 0 0;
  }
  .heading{
    font-size: 30px;
    font-weight: 700;
    color: #333333;
    line-height: 64.94px;
    max-width: 35rem;
    font-family: "san";
  }
  .content{
    max-width: 30rem;
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-family: auto;
    font-family: var(--font-work);
    display: grid;
    row-gap: 5px;
  }
  .getintouch{
    display: grid;
    grid-template-columns: 0.1fr 3fr;
    align-items: center;
  }
  .getinmsg p{
    font-size: 14px;
    font-weight: 600;
    color: #00a9ff;
    width: 6rem;
  }
  .arrow img{
    width: 55px;
    height: 40px;
    border: 2px;
  }
  .body-content{
    display: grid;
  }
  .hero{
    display: grid;
    grid-auto-flow: row;
    text-align: center;
  }
  .hero-msg{
    justify-self: center;
  }
  .chart{
    display: grid;
  }
  .chart-border{
    display: none;
  }
  .boxes{
    display: grid;
    grid-auto-flow: row;
    row-gap: 0;
    justify-items: center;
  }
  .borderline-one{
    height: 50px;
    width: 1px;
    background-color: #00a9ff;
    position: relative;
  }
  .borderline-two{
    display: block;
    height: 50px;
    width: 1px;
    background-color: #00a9ff;
    position: relative;
  }
  .boxtwoline{
    display: grid;
    justify-items: center;
  }
  .box-one img{
    width: 40px;
    height: 40px;
  }
  .box-two img{
    width: 40px;
    height: 40px;
  }
  .box-three img{
    width: 40px;
    height: 40px;
  }
 .form-sec{
  display: grid;
  grid-auto-flow: row;
  justify-content: space-between;
  padding: 40px;
 }
 .form-msg{
  display: grid;
  justify-content: center;
  row-gap: 25px;
 }
 .getstartedpara{
  justify-items: center;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
 }
 .msg-blue{
  justify-self: center;
    padding: 20px 0;
 }
 .overall-form{
  display: grid;
  justify-content: space-between;
  grid-column-gap: 10px;
  column-gap: 10px;
  grid-row-gap: 15px;
  row-gap: 15px;

 }
 .input-form-msg{
  max-width: 100%;
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
 }
 .question-sec{
  display: grid;
    grid-auto-flow: row;
    justify-content: center;
 }
 .question-content{
  display: grid;
  justify-self: center;
  padding: 10px 0 0 0;
 }


}
 @media (min-width: 320px) and (max-width: 650px){
.over-all-pages{
  width: 100%;
    display: grid;
}

.first-sec{
  max-width: 100%;
}
.family-image{
  height: 346px;
    height: 75vh;
    width: 100%;
    max-width: 100%;
    background-image: url(../../public/familyimg.svg);
    background-size: cover;
    background-position-x: right;
    position: relative;
    overflow: hidden;
}
.welcome p{
  font-size: 20px;
  letter-spacing: 1px;
}
.welcome{
  border-bottom: 1px solid #00a9ff;
  border-top: 1px solid #00a9ff;
  width: 100%;
}
.desktop-view{
  display: none;
}
.body{
    max-width: 100%;
    display: grid;
    row-gap: 25px;
    padding: 40px 40px;
}
.heading{
  font-size: 15px;
    font-weight: 700;
    color: #333333;
    line-height: 44.94px;
    max-width: 30rem;
    font-family: "san";
}
.heading h1{
  font-size: 44px;
    font-weight: 700;
    line-height: 50.47px;
    max-width: 25rem;
    font-family: var(--font-roboto);
}
.getintouch{
  display: grid;
  grid-template-columns: 0.9fr 13fr;
  align-items: center;
  font-size: 14px;

}
.content{
  max-width: 30rem;
    color: #777777;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    font-family: auto;
    display: grid;
    row-gap: 5px;
    font-family: var(--font-work);
}
.arrow img{
  width: 55px;
    height: 40px;
    border: 2px;
}
.getinmsg{
  font-size: 14px;
  font-weight: 600;
  color: #00a9ff;
  width: 6rem;
}
.body-content{
  display: grid;
}
.hero{
  display: grid;
  grid-auto-flow: row;
  padding: 0 30px;
  row-gap: 35px;
}
.hero-msg{
  display: grid;
}
.hero-para{
  display: grid;
    row-gap: 30px;
}
.hero-para-two{
  color: #777777;
    font-size: 18px;
    font-weight: 500;
    max-width: 35rem;
    line-height: 23px;
    justify-self: center;
}
.hero-para-three{
  color: #777777;
  font-size: 18px;
  font-weight: 500;
  max-width: 35rem;
  line-height: 23px;
  justify-self: center;
}
.hero-para-four{
  color: #777777;
  font-size: 18px;
  font-weight: 500;
  max-width: 40rem;
  line-height: 23px;
  justify-self: center;
}
.hero-img{
  height: 400px;
  width: 300px;
}
.chart{
  display: grid;
  padding-top: 40px;
}
.chart-border{
  display: none;
}
.boxes{
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  row-gap: 0;
}
.borderline-one{
  height: 50px;
  width: 1px;
  background-color: #00a9ff;
  position: relative;
}
.borderline-two{
  display: block;
    height: 50px;
    width: 1px;
    background-color: #00a9ff;
    position: relative;
}
.boxtwoline{
  display: grid;
    justify-items: center;
}
.box-one img{
  width: 40px;
    height: 40px;
}
.box-two img{
  width: 40px;
    height: 40px;
}
.box-three{
  width: 40px;
    height: 40px;
}
.box-one{
  border: 1px solid #00a9ff;

    border-radius: 10px;
    width: 400px;
    height: 586px;
    display: grid;
    row-gap: 5px;
    padding: 30px;
}
.box-two{
  border: 1px solid #00a9ff;

  border-radius: 10px;
  width: 400px;
  height: 496px;
  display: grid;
  row-gap: 5px;
  padding: 30px;
}
.box-three{
  border: 1px solid #00a9ff;

  border-radius: 10px;
  width: 400px;
  height: 586px;
  display: grid;
  row-gap: 5px;
  padding: 30px;
}
.heading-one{
  color: #333333;
    font-size: 22px;
    font-weight: 700;
    font-family: var(--font-roboto);
}
.heading-two{
  color: #777777;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-work);
}
.p-one{
  color: #777777;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  font-family: var(--font-work);
}
.p-two{
  color: #777777;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  font-family: var(--font-work);
}
.p-three{
  color: #777777;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  font-family: var(--font-work);
}
.form{
  display: grid;
    grid-auto-flow: row;
    justify-content: space-between;
    padding: 20px;
}
.form-msg{
  display: grid;
  row-gap: 0;
  padding: 50px 0 60px 0;
  display: grid;
  justify-items: center;
  text-align: center;
}
.msg-blue{
  padding: 10px 0;
  
  padding-bottom: 20px;
}
.form-para{
  font-size: 18px;
  line-height: 16px;
  color: #777777;
  font-weight: 600;
}
.form-para h1{
  font-size: 42px;
  font-weight: 700;
  line-height: 45px;
  color: #333333;
  
}
.form-para p{
  color: #777777;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    max-width: 37rem;
}
.overall-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.input-form-msg{
  max-width: 100%;
    display: grid;
  
    justify-content: flex-start;
    column-gap: 10px;
}
.form-sec{
  display: grid;
  grid-auto-flow: row;
    justify-content: center;
}
.question-sec{
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
}
.question-content{
  display: grid;
    justify-self: center;
    padding: 10px 0 0 0;
}
.question-para p:nth-child(2){
  font-size: 20px;
  font-weight: 500;
  max-width: 33rem;
  display: grid;
  text-align: center;
}
.manimg img{
  display: block;
    height: 600px;
    width: 500px;
}

 }